*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App{

}
.quoteContainer {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 3rem;
  font-family: "Inter", "Source Sans Pro", "Helvetica Neue";
  /* background-color: bisque; */

}

p::before {
  position: absolute;
  content: "“";
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
  display: block;
  top: -0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  
}

.quote {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6em;
  font-style: italic;
  position: relative;
  /* background-color: bisque; */

}

.author{
  /* background-color: bisque; */
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6em;
  font-style: italic;
}