*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App{

}
.quoteContainer {
  margin: 0 auto 2em;
  max-width: 700px;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 4em;
  box-sizing: border-box;
  font-family: "Inter", "Source Sans Pro", "Helvetica Neue";
}

p::before {
  position: absolute;
  content: "“";
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
  display: block;
  top: -0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  
}

.quote {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6em;
  font-style: italic;
  position: relative;
  /* background-color: bisque; */

}

.author{
  /* background-color: bisque; */
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6em;
  font-style: italic;
}